.input {
  width: 272px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #808080;
padding-left:16px;
color: #808080;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
}
a:-webkit-any-link {
  color: inherit;
  cursor: auto;
  text-decoration: none;
  width: calc((100% - 32px) / 3);
}
.toast-container {
  position: fixed;
  top: 20px; /* Відступ від верху */
  right: 20px; /* Відступ від правого краю */
  display: inline-flex;
  padding: 4px 60px 4px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #FFBEBE;
  background: #EF4040;
  width: 322px;
  flex-shrink: 0;
  color: #FAFAFB;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px; 
  margin-top: 0;
  margin-bottom: 0;
}
.close-button {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 24px;
  font-size: 24px;
  color: #FAFAFB;
}
.decorative-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #FAFAFB;
}

.input:hover,
.input:active {
  border-color: #4E75FF;
}
.input-container.clicked .input { 
  border-color: #4E75FF;
}
.div {
  display: flex;
align-items: flex-start;
gap: 8px;
margin-top: 36px;
margin-bottom: 32px;
justify-content: center;
}
.button {
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border-color: #4E75FF;
background: #4E75FF;
padding: 8px 16px;
color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* простір між зображеннями */
}

/* Загальні стилі для зображень в галереї */
.gallery img {
  width: calc((100% - 32px) / 3);
  height: auto;
  margin-bottom: 16px;
  transition: transform 0.3s ease-in-out;
}

/* Збільшення зображення при наведенні */
.gallery img:hover {
  transform: scale(1.1);
}

/* Зміна форми курсору на руку при наведенні на зображення */
.gallery img:hover {
  cursor: pointer;
}

/* Стилі для модального вікна */
.simplelb-overlay {
  background: rgba(0, 0, 0, 0); /* Прозорий фон */
}

.simplelb-item {
  text-align: center; /* Вирівнювання по центру */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Мінімальна висота 100% висоти вікна */
  box-sizing: border-box;
}

.simplelb-item img {
  max-width: 100%;
  max-height: 100%;
  width: 1112px;
  height: 640px;
  object-fit: cover; /* Заповнення області зображення */
  margin: auto;
  display: block;
}
.simplelb-nav {
  background: none;
}
.simplelb-nav a {
  font-size: 24px;
  color: white;
}

.simplelb-nav a:hover {
  color: #ffd700; /* Жовтий колір при наведенні */
}
.slbContent {
  max-width: none !important;
  width: 1112px !important;
  height: 640px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.slbImage {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important; /* або cover, в залежності від потреб */
}
